<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184029817304-n3bpdluppo697a4661287aonirb5q7ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184029817304-n3bpdluppo697a4661287aonirb5q7ue</string>
	<key>API_KEY</key>
	<string>AIzaSyAwR7KpR07ZeTlHXZ_dk52GoYfQNLT1dyw</string>
	<key>GCM_SENDER_ID</key>
	<string>184029817304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo1</string>
	<key>PROJECT_ID</key>
	<string>alarmclock-e8486</string>
	<key>STORAGE_BUCKET</key>
	<string>alarmclock-e8486.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184029817304:ios:d8ddde1389272fa46baaad</string>
</dict>
</plist>